* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

html {
    margin-top: 3.5vh;
}

/* =navigation nav= */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 8vh;
    border-radius: 10px;
    background-color: #0850F8;
}

nav img {
    max-height: 200px;
}

nav ul {
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 50%;
}

ul a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    border-radius: .5rem;
    padding: .5rem;
}

ul a:hover {
    background-color: rgba(8,80,248,255);
    color: white;
    padding: .5rem;
    border-radius: .5rem;
    transition: .2s;
}

.navbuttons {
    display: flex;
    justify-content: flex-end;
    width: 30%;
}

.navbluebutton {
    padding: .5rem 1rem;
    background-color: white;
    border-radius: .6rem;
    font-size: 1.2rem;
    color:black;
    border: 2px solid rgba(8,80,248,255);
    margin: 0 1.5rem;
    cursor: pointer;
}

.navwhitebutton {
    padding: .5rem 1rem;
    background-color: white;
    border-radius: .6rem;
    font-size: 1.2rem;
    color:black;
    border: 2px solid rgba(8,80,248,255);
    margin: 0 1.5rem;
    cursor: pointer;
}
.navbuttons button:hover {
    color:red;
}

/* FOCUS ON YOUR BUSINESS STYLING */

 .focusonbusiness {
    display: flex;
    margin-left: 8vw;
    margin-right: 2vw;
}

 .focusleft {
    width: 55vw;
    padding-top: 8vh;
    padding-left: 4vw; 
}

 .focusleft h1 {
    font-size: 5rem;
    padding: 1rem 0;
}

 .focusleft h2 {
    font-size: 2.75rem;
    padding: 1rem 0;
}

 .focusleft h3 {
    font-size: 1.7rem;
    color: rgba(154,154,154,255);
    padding: 1rem 0;
}

 .focuswhitebutton {
    padding: 1.5rem 2rem;
    background-color: white;
    border-radius: 1rem;
    font-size: 1.7rem;
    color: rgba(8,80,248,255);
    border: 2px solid rgba(8,80,248,255);
    margin: 1rem 2rem;
    cursor: pointer;
}

 .focusbluebutton {
    padding: 1.5rem 2rem;
    background-color: rgba(8,80,248,255);
    border-radius: 1rem;
    font-size: 1.7rem;
    color: white;
    border: 2px solid rgba(8,80,248,255);
    margin: 1rem 0rem;
    cursor: pointer;
}

 .focusleft a {
    font-size: 1.7rem;
    text-decoration: none;
    color: rgba(154,154,154,255);
}

 .focusleft ul {
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 20px;
   }

 .fa-circle {
    color: rgba(8,80,248,255);
}

 .focusright {
    display: flex;
}

 .businessimg {
    justify-content: center;
    width: 40vw;
}

hr {
    width: 50vw;
    margin: auto;
}

 /* EXPLORE STYLING */

 .explore {
    width: 47vw;
    margin: 8vh auto;
 }

.explore h3 {
    font-size: 1.7rem;
    text-align: center;
    padding: 1rem 0;
}

.explore h4 {
    font-size: 1.3rem;
    text-align: center;
}

/* BOXES STYLING */

.boxes {
    display: flex;
    justify-content: space-around;
    width: 70vw;
    margin: 1vh auto;
}

.boxitem {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgba(250,251,252,255);
    border: 1px solid black;
    width: 9rem;
    height: 12rem;
    border-radius: .8rem;
    text-align: center;
}

.boximage img {
    max-width: 60%;
    max-height: 90%;
    padding-bottom: 1.25rem;
}

.boxitem p {
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
}

/* CREDIT CARD STYLING */

.creditcard {
    padding: 10vh;
}

.creditcardwhole {
    display: flex;
    width: 75vw;
    height: 80vh;
    margin: auto;
    background-color: rgba(8,80,248,255);
    border: 2px solid black;
    border-radius: 2rem;
}

.creditcardleft {
    display: flex;
    background-color:antiquewhite;
    border-radius: 2rem 0 0 2rem;
    width: 40%;
    align-items: center;
}

.creditcardleft img {
    width: 100%;
    padding: 1vw;
}

.creditcardright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    border-radius: 2rem;
    color: white;
    padding: 3vw 11vw 3vw 3vw;
}

.creditcardright h2 {
    margin-top: 100px;
    font-size: 2rem;
    padding: 1rem 0;
}

.creditcardright h4 {
    font-size: 1.2rem;
}

.creditcardright ul {
    list-style: none;
    padding: 2rem 0;

}

.creditcardright li {font-size: small;
    padding: 1rem 0;
}

.creditcardbutton {
    padding: 1rem;
    background-color: rgba(8,80,248,255);
    border-radius: .5rem;
    font-size: 1.25rem;
    width: 60%;
    color: white;
    border: 3px solid white;
    cursor: pointer;
}
.creditcardbutton:hover {
    color:black;
}

.fa-angle-right {
    float: right;
    padding: .6rem 0 0 0;
}

/*Solutions to fit your Business Needs*/

.heading {
    font-weight:bolder;
    font-size:30px;
    flex:auto;
    text-align: center;
    margin-top: 200px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .box1 {background-color:rgb(239, 221, 235);
    width: 48%; 
    margin-bottom: 20px;
    border-radius: 20px;
  }

  .card {
    border: 1px solid #d9c5e0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card-body {
    padding: 20px;
  }

  .btn {
    background-color:#0850F8;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  .btn:hover{
    color:black;
  }
  .card-title {
    padding: 20px;
    text-align: center;
    font-size:larger;
    
  }
  .des {
    padding-bottom: 20px;
  }
 





/* footer*/
footer {
    border-radius: 20px;
    background: #0850F8;
    text-align:center;
    padding:5vh 0 11vh 0;
}

footer h1 {font-size:28px;
    color:white;
    font-family:rubik;
    font-weight:bold;
}

footer h4 {font-size:small;
    color:white;
    font-family:rubik;
}

footer input[type=button] {
    margin:2vh 0 2vh 0;
}

#w-bullet {
    color:white;
    border:2px solid white;
    background-color:white;
    border-radius:100%;
    font-size:3px;
    margin:2vh;
}

#getstarted input[type=button] {
    font-family:rubik;
    color:white;
    font-size:16px;
    border-radius:7px;
    border:2px solid forestgreen;
    background-color: forestgreen;
    padding:0.5vh 2vh 0.5vh 2vh;
    margin-right:1vh;
}
